.apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banniereApropos {
    position: relative;
    margin: 30px 0;
    width: 80%;
    height: 223px;
  }

  .banniereApropos img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
  }
  
  .descriptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  details {
    margin-top: 30px;
    width: 75%;
    padding: 0.5em 0.5em 0;
  }
  
  
  summary {
    list-style: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    color: white;
    background-color: #ff6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  details[open] {
    width: 75.5%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 0.5em;
    color: #ff6060;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  details[open] summary {
    margin-bottom: 0.5em;
  }
  
  details[open] summary img {
    rotate: 180deg;
  }

  @media screen and (max-width: 800px) and (min-width: 377px) {
    main#about {
      margin: 0;
      min-height: 700px;
    }
  }

  @media screen and (max-width: 376px) {
    .banniereApropos {
      height: 220px;
      margin: 15px 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .banniereApropos img {
      height: 100%;
      object-fit: none;
      width: 90%;
    }

    details {
      width: 90%;
    }

    details[open] {
      width: 92%;
    }
  }