footer {
    background-color: #000;
    height: 209px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #copyright {
    color: white;
    font-family: "Montserrat";
  }