header {
    margin: 68px;
    display: flex;
    justify-content: space-between;
  }
  
  header nav {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a.navPrincipale {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #ff6060;
    text-decoration: none;
  }
  
  #navAccueil {
    text-decoration-line: underline;
  }

  @media screen and (max-width: 376px) {
    /* HEADER */
  
    header {
      margin: 30px;
    }
  
    img#logoHeader {
      width: 40%;
    }
  
    header nav {
      width: 166px;
    }
  
    header nav p.navPrincipale {
      font-size: 14px;
      text-transform: uppercase;
    }
  }