header {
    margin: 68px;
    display: flex;
    justify-content: space-between;
  }
  
  header nav {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav p.navPrincipale {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #ff6060;
  }
  
  #navAccueil {
    text-decoration-line: underline;
  }