main {
    margin: 68px;
  }

#banniereAccueil {
    position: relative;
    margin: 30px 0;
  }
  
  #banniereAccueil h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #ffffff;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
  }
  
  #fondBanniere {
    width: 100%;
    border-radius: 10px;
  }
  
  /* GALERIE */
  
  .gallery {
    background: #f7f7f7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .link {
    text-decoration: none;
  }
  
  .locations {
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin: 60px 51px;
    background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(129, 49, 49, 1) 100%);
  }

  .locations img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .titleLocation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #ffffff;
    background: linear-gradient(180deg, rgba(255, 96, 96,0) 0%, rgba(129, 49, 49, 0.7) 100%);
    border-radius: 10px;
    padding: 10px;
  }

  @media screen and (max-width: 376px) {
    main {
      margin: 0;
    }

    #banniereAccueil {
      height: 120px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #banniereAccueil h1 {
      font-size: 24px;
      left: 10%;
      top: 28%;
      width: 63%;
      text-align: left;
    }

    #fondBanniere {
      height: 100%;
      object-fit: none;
      width: 94%;
    }
    
    .gallery {
      background-color: white;
    }

    .locations {
      margin: 20px 0;
    }
  }
