*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel {
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: -50px;
  }
  
  .carousel img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  #ath {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -270px;
  }
  
  
  .chevron {
    color: white;
    font-size: 6em;
    font-weight: 700;
  }
  
  #numberCarousel {
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 240px;
  }
  
  #enteteLogement {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: Montserrat;
    color: #ff6060;
  }
  
  #leftSide {
    flex: 1;
  }
  
  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
  }
  
  #localisation {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
  }
  
  #tags {
    display: flex;
    margin-top: 20px;
  }
  
  .tag {
    padding: 5px 20px;
    color: white;
    background-color: #ff6060;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin: 0 10px 0 0;
  }

  .tag p {
    margin: 0;
  }
  
  #rightSide {
    width: 13%;
  }
  
  #identite {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
  
  #identite p {
    text-align: right;
    margin-right: 10px;
  }

  #pictureProfil {
    width: 45%;
    border-radius: 50%;
  }

  #note {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  #note i{
    font-size: 2em;
  }

  .grise {
    color: grey;
  }
  
  #contenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #contenu details {
    width: 48%;
    font-weight: 400;
    font-size: 18px;
  }

  @media screen and (max-width: 376px) {
    main {
      margin: 0 15px;
    }

    #enteteLogement {
      display: flex;
      flex-direction: column;
    }

    #tags {
      flex-wrap: wrap;
    }

    .tag {
      margin-top: 10px;
    }

    #rightSide {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
    }

    #note {
      flex: 1;
      justify-content: flex-start;
      margin: 0;
    }

    #note i {
      font-size: 20px;
    }

    #identite {
      width: 50%;
    }

    #contenu {
      flex-direction: column;
    }

    #contenu details {
      width: 100%;
    }

    #contenu details[open]{
      width: 100%;
    }
  }